[<%= @pool_name %>]
user = <%= @user || node['php-fpm']['user'] %>
group = <%= @group || node['php-fpm']['group'] %>
listen = <%= @listen || "/var/run/php-fpm.sock" %>
<% unless @listen_owner.nil? %>
listen.owner = <%= @listen_owner %>
<% end %>
<% unless @listen_group.nil? %>
listen.group = <%= @listen_group %>
<% end %>
listen.mode = <%= @listen_mode || "0600" %>
;listen.allowed_clients = <%= @allowed_clients ? ([@allowed_clients].flatten.join(',')) : "127.0.0.1" %>
pm = <%= @process_manager || "dynamic" %>
pm.max_children = <%= @max_children || 6 %>
<% if @process_manager == "dynamic" %>
<% if @start_servers %>
pm.start_servers = <%= @start_servers %>
<% end %>
<% end %>
<% if @process_manager == "ondemand" %>
<% end %>
pm.min_spare_servers = <%= @min_spare_servers || 3 %>
pm.max_spare_servers = <%= @max_spare_servers || 5 %>
pm.max_requests = <%= @max_requests || 500 %>
pm.status_path = /fpm-status-<%= @pool_name %>
ping.path = /ping-<%= @pool_name %>
<% if @access_log %>
access.log = <%= node['php-fpm']['log_dir'] %>/$pool.access.log
<% end %>
request_terminate_timeout = <%=@request_terminate_timeout || '120s' %>
catch_workers_output = <%= @catch_workers_output || "no" %>
request_slowlog_timeout = 5s
slowlog = /var/log/$pool.log.slow
rlimit_files = 4096
rlimit_core = 0
chdir = /var/www
catch_workers_output = yes
<% if node['platform'] != 'ubuntu' && node['platform_version'] != '10.04' %>
security.limit_extensions = <%=@security_limit_extensions || ".php" %>
<% end %>
<% @php_options.each do |name,value| %>
<%= "#{name} = #{value}" %>
<% end %>