server {
    listen 80;
    server_name www.syriamediawiki.org;
    rewrite ^(.*) http://syriamediawiki.org$1 permanent;
}

server {
    listen 80; 
    limit_conn arbeit 32;
    server_name syriamediawiki.org;
    access_log <%= node['nginx']['log_dir'] %>/smw.org_access.log;
    error_log  <%= node['nginx']['log_dir'] %>/smw.org_error.log;
    root <%= node['nginx']['default_root'] %>/smw;
    index index.php index.html;
    client_max_body_size 128M;

    

    if ($bad_bot) {
        return 444;
    }

    if ($bad_referer) {
        return 444;
    }

    location = /favicon.ico {
        try_files $uri =204;
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location / {
        try_files $uri $uri/ @rewrite;
    } 

    location @rewrite {
    	rewrite ^/(.*)$ /index.php?title=$1&$args;
	}

	location ^~ /maintenance/ {
		return 403;
	}

	location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
		try_files $uri /index.php;
		expires max;
		log_not_found off;
	}

	location = /_.gif {
		expires max;
		empty_gif;
	}

	location ^~ /cache/ {
		deny all;
	}

	location /dumps {
		root <%= node['nginx']['default_root'] %>/smw/local;
		autoindex on;
	}

	location ~ \.php$ {
		try_files $uri =404;
		include fastcgi.conf;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param SCRIPT_NAME $script;
		fastcgi_param PATH_INFO $path_info;
		fastcgi_pass phpcgi;
    }	

    include apps/smw/access.conf;

}